calidad_aire_cdmx/data/db_conexion.py
calidad_aire_cdmx/__pycache__/
calidad_aire_cdmx/apps/__pycache__/
calidad_aire_cdmx/common/__pycache__/
calidad_aire_cdmx/script/
venv
venv/
.idea
__pycache__/
airecdmx/
apps/tablero_mapa_ageb.py
apps/concentraciones.py
data/
mapa/